body {
  font-family: Arial, sans-serif;
  display: flex; 
  height: 100vh;
  justify-content: center;
  align-items: center; 
  background: #ffffff;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
}

.cell {
  background: rgb(228, 217, 72);
  border: 2px solid #0e0d0d;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

h1{
  text-align: center;
}