h1{
    color:rgb(32, 31, 31);
    background-color: antiquewhite;
    font-size: 30px;
    font-weight: bold;
}
.p{
    color:rgb(15, 15, 14);
    background-color: antiquewhite;
}
.b{
    color: rgb(22, 22, 22);
    border-radius: 5px;
}






